<p><%= notice %></p>
<div class = "container">
  <div class= "col-md-2 col-sm-1" id = "tweet_explanation">
    <h2>Twitter課題</h2>
    <img src ="<%= asset_path "logo.jpg" %>" class = "logo_mark">
  </div>
  <div class = "wrapper col-md-8  col-sm-10">
    <h1>ツイート一覧</h1>
    <% @tweets.each do |tweet| %>
      <div class = "row">
        <p><%= tweet.content %></p>
        <%= link_to "編集", edit_tweet_path(tweet.id), class:'btn btn-default btn-sm btn-success' %>
        <%= link_to "削除", tweet_path(tweet.id), method: :delete, data: {confirm: '本当に削除していいですか？'}, class:'btn btn-default btn-sm btn btn-danger' %>
      </div>
    <% end %>
  </div>
  </div>